extends styleguide/_layout

//- Content
block append content

  header.style-guide-header
    .wrapper-main.center-unknown
      h1.style-guide-header_headline Style Guide
    // end: wrapper-main
  //- style-guide-header

  article.style-guide-content

    section#sg-color-pallete.style-guide-section

      header.style-guide-section_header
        .wrapper-main
          a.js-toggle(data-target='#sg-color-pallete', data-toggle-icon=icons.arrowup)
            h2 Color Palette
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown
            

      .style-guide-section_content
        .wrapper-main
          ul.style-guide_color-palette
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color

    //- style-guide-section

    section#sg-typography.style-guide-section

      header.style-guide-section_header
        .wrapper-main
          
          a.js-toggle(data-target='#sg-typography', data-toggle-icon=icons.arrowup)
            h2 Typography
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content
        .wrapper-main
          h1 Headline 1: Lorem ipsum
          p.subh1 Subheadline 1: Lorem ipsum Irure esse reprehenderit dolor deserunt adipisicing elit esse voluptate in proident ut ad incididunt Duis nostrud enim qui labore id.

          h2 Headline 2: Lorem ipsum Dolore eiusmod.
          p.subh2 Subheadline 2: Lorem ipsum Nulla sunt commodo qui mollit tempor sunt in Excepteur sint in dolor non laboris velit exercitation reprehenderit commodo velit.

          h3 Headline 3: Lorem ipsum Cupidatat irure dolor est.
          p.subh3 Subheadline 3: Lorem ipsum Ad in deserunt veniam aliqua id cillum ex nostrud incididunt ad sint consequat cupidatat ea consequat in sint cupidatat labore.
    
          h4 Headline 4: Lorem ipsum In laborum consequat amet aute dolor.
          p.subh4 Subheadline 4: Lorem ipsum Sit ut magna qui ex sit est anim sunt deserunt laborum ut nostrud laboris ad commodo aute.

          p.text-big <strong>Hero text:</strong> Lorem ipsum Dolor quis adipisicing in in minim laborum adipisicing eu irure voluptate quis dolore sit cillum minim in adipisicing adipisicing occaecat laborum.

          p <strong>Body text:</strong> Lorem ipsum <a>Ullamco voluptate</a> veniam consectetur mollit adipisicing labore cupidatat ad in dolore reprehenderit minim incididunt sunt exercitation in in labore ullamco enim aliqua dolore pariatur ullamco Ut velit adipisicing pariatur mollit tempor cupidatat magna Excepteur ut in sed nostrud deserunt do laborum occaecat laborum Ut dolor elit ad consectetur culpa sit Duis cupidatat Duis laboris <a>voluptate</a> est nulla dolore elit ullamco sed pariatur pariatur sed Duis reprehenderit voluptate officia non enim laboris sit sint deserunt ullamco in fugiat dolor ullamco esse id ut <em>aliqua labore</em> pariatur labore aliqua enim cillum aute nostrud nulla ea et in nostrud do in veniam commodo consectetur reprehenderit minim <strong>consectetur incididunt</strong> adipisicing deserunt pariatur non eiusmod velit ut quis aliquip qui occaecat in ex in adipisicing sunt.

          p.text-desc <strong>Description text:</strong> Lorem ipsum Sed dolor magna cillum aliquip adipisicing occaecat nisi veniam deserunt est magna qui consequat Ut enim commodo laboris reprehenderit eu nostrud et tempor velit.

          p.text-small <strong>Small text:</strong> Lorem ipsum Dolore veniam in ex ut culpa sunt incididunt aliquip et eu consectetur culpa quis elit anim magna enim dolor dolor officia occaecat sed tempor irure fugiat ullamco et laboris reprehenderit amet tempor sit nulla ut proident ex exercitation veniam.

          hr

          h3 Lists:

          p.subh3 Unordered

          ul
            li Est dolor incididunt eiusmod.
            li Ad dolor ea aliquip officia.
            li Aliqua anim esse eu ex.
            li Est sit enim est.
            li Labore deserunt elit dolor commodo mollit.

          p.subh3 Ordered

          ol
            li Est dolor incididunt eiusmod.
            li Ad dolor ea aliquip officia.
            li Aliqua anim esse eu ex.
            li Est sit enim est.
            li Labore deserunt elit dolor commodo mollit.

          p.subh3 Inline list

          ul.list-inline
            li List inline
            li Ad dolor
            li Aliqua anim
            li Est sit
            li Labore deserunt

          ul.list-inline.list-inline-expanded
            li List inline expanded
            li Ad dolor
            li Aliqua anim
            li Est sit
            li Labore deserunt

          p.subh3 Description list

          dl
            dt Nulla elit
            dd Do dolor anim sit dolore ex.
            dt Veniam ut amet
            dd Non dolore in sed.
            dt Eiusmod aute
            dd Eu sed sint irure.

    //- style-guide-section

    section#sg-icons.style-guide-section

      header.style-guide-section_header
        .wrapper-main
          
          a.js-toggle(data-target='#sg-icons', data-toggle-icon=icons.arrowup)
            h2 Icons
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content
        .wrapper-main

          ul.style-guide_icons-list.list-inline.list-inline-expanded
            each icon in icons
              li.style-guide_icons-list_item
                i.icon-l= icon
                br
                abbr(title=icon).text-color-semiblack= icon

          h3 Icons sizes

          ul.style-guide_icons-list.list-inline.list-inline-expanded
            li.style-guide_icons-list_item
              span XL
              br
              i.icon-xl= icons.home
            li.style-guide_icons-list_item
              span L
              br
              i.icon-l= icons.home
            li.style-guide_icons-list_item
              span M
              br
              i.icon-m= icons.home
            li.style-guide_icons-list_item
              span S
              br
              i.icon-S= icons.home

    //- style-guide-section

    section#sg-grid.style-guide-section

      header.style-guide-section_header
        .wrapper-main
          
          a.js-toggle(data-target='#sg-grid', data-toggle-icon=icons.arrowup)
            h2 Grid system
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content
        .wrapper-main
          h3 Main Breakpoints

          dl 
            dt XL
            dd 1440px + 
            dt L
            dd 960px - 1439px
            dt M
            dd 768px - 959px
            dt S
            dd 480px - 767px
            dt XS
            dd 320px - 479px

          p.text-desc L,M,S are main breakpoits. <br> S and XS is separated only in development for better responsivity.

        .grid-12col

          h3 12 columns grid system 
          p.subh3 (XL: 12 cols, L: 12cols, M: 6 cols, S: 4cols, XS: 2cols)

          p.subh3 Basic layout

          - for(i = 1; i <= 12; i++) {
            .row.row-space
                div(class='col-' + i)
                  .debug: abbr(title='.col-' + i)= i
          - }

          p.subh3 Complex layout

          .row.row-space
            .col-xl-3.col-2.col-m-1.col-s-1.col-xs-1
              .debug: abbr(title='.col-xl-3.col-2.col-m-1.col-s-1.col-xs-1')
                span.show-xl XL: 3/12
                span.show-l L: 2/12
                span.show-m M: 1/6
                span.show-s S: 1/4
                span.show-xs XS: 1/2
          .row.row-space
            .col-xl-3.col-4.col-m-2.col-s-2.col-xs-1
              .debug: abbr(title='.col-xl-.col-4.col-m-2.col-s-2.col-xs-1')
                span.show-xl XL: 3/12
                span.show-l L: 4/12
                span.show-m M: 2/6
                span.show-s S: 2/4
                span.show-xs XS: 1/2
          .row.row-space
            .col-xl-4.col-6.col-m-3.col-s-3.col-xs-2
              .debug: abbr(title='.col-xl-4.col-6.col-m-3.col-s-3.col-xs-2')
                span.show-xl XL: 4/12
                span.show-l L: 6/12
                span.show-m M: 3/6
                span.show-s S: 3/4
                span.show-xs XS: 2/2
          .row.row-space
            .col-xl-6.col-8.col-m-4.col-s-4.col-xs-2
              .debug: abbr(title='.col-xl-6.col-8.col-m-4.col-s-4.col-xs-2')
                span.show-xl XL: 6/12
                span.show-l L: 8/12
                span.show-m M: 4/6
                span.show-s S: 4/4
                span.show-xs XS: 2/2
          .row.row-space
            .col-xl-8.col-10.col-m-5.col-s-1.col-xs-1
              .debug: abbr(title='.col-xl-8.col-10.col-m-5.col-s-1.col-xs-1')
                span.show-xl XL: 8/12
                span.show-l L: 10/12
                span.show-m M: 5/6
                span.show-s S: 1/4
                span.show-xs XS: 1/2
          .row.row-space
            .col-xl-10.col-12.col-m-6.col-s-2.col-xs-2
              .debug: abbr(title='.col-xl-10.col-12.col-m-6.col-s-2.col-xs-2')
                span.show-xl XL: 10/12
                span.show-l L: 12/12
                span.show-m M: 6/6
                span.show-s S: 2/4
                span.show-xs XS: 2/2

          p.subh3 Offsets

          .row.row-space
            .col-4.ofst-1.col-m-3.ofst-m-0.col-s-2.ofst-s-0
              .debug: abbr(title='.col-4.ofst-1.col-m-3.ofst-m-0.col-s-2.ofst-s-0') 
                span.show-l.show-xl L: Ofst: 1, W: 4
                span.show-m M: Ofst: 0, W: 3
                span.show-s.show-xs S: Ofst: 0, W: 2

            .col-4.ofst-2.col-m-3.ofst-m-0.col-s-2.ofst-s-0
              .debug: abbr(title='.col-4.ofst-1.col-m-3.ofst-m-0.col-s-2.ofst-s-0')
                span.show-l.show-xl L: Ofst: 2, W: 4
                span.show-m M: Ofst: 0, W: 3
                span.show-s.show-xs S: Ofst: 0, W: 2

    //- style-guide-section

    section#sg-buttons.style-guide-section

      header.style-guide-section_header
        .wrapper-main
            
          a.js-toggle(data-target='#sg-buttons', data-toggle-icon=icons.arrowup)
            h2 Buttons
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content

        .grid-12col
          .row.row-space
            .col-4.col-s-1.col-xs-1
              p.subh3 Default
              .btnblock
                a.btn Default
                button.btn(type='button') Default
                input.btn(type='submit', value= 'Default')
                a.btn.disabled Default

            .col-4.col-s-1.col-xs-1
              p.subh3 Primary
              .btnblock
                a.btn.btn-primary Primary
                a.btn.btn-primary.disabled Primary

          .row.row-space
            .col-12
              h3 Button sizes

            .col-6.col-s-2.col-xs-2
              p.subh3 Button L/M/S
              .btnblock
                a.btn.btn-l Large
                a.btn Medium
                a.btn.btn-s Small
            .col-6.col-s-2.col-xs-2
              p.subh3 Button width sizes
              .btnblock
                .btn.btn-full Full width
                .btn.btn-full-s Full width for S layout
                .btn.btn-full-xs Full width for XS layout

          .row.row-space
            .col-12
              h3 Button layouts

            .col-6.col-s-2.col-xs-2
              p.subh3 Button block
              .btnblock
                a.btn Button
                a.btn Button
            .col-6.col-s-2.col-xs-2
              p.subh3 Button line
              .btnline
                a.btn Button
                a.btn Button

          .row.row-space
            .col-12
              h3 Buttons with icons

            .col-6.col-s-4
              p.subh3 Floating icons

              .btninline
                .btn
                  i.icon.icon-left download
                  | Download
                .btn.btn-primary
                  | Settings
                  i.icon.icon-right settings

            .col-4.col-s-2
              p.subh3 Positioned icons
              .btnblock
                .btn.btn-full.btn-icon-left
                  i.icon arrowcircleleft
                  | Back
                .btn.btn-primary.btn-full.btn-icon-right
                  | Next
                  i.icon arrowcircleright

          .row.row-space
            .col-12
              h3 Button groups

            .col-6.col-m-6.col-s-4
              p.subh3 Button groups inline

              .btn-group.btn-group-stack-full-xs
                a.btn Button 1
                a.btn Button 2
                a.btn Button 3
              br
              .btn-group.btn-group-stack-full-xs
                a.btn.btn-l Button 1
                a.btn.btn-l Button 2
                a.btn.btn-l 
                  i.icon  settings
              br
              .btn-group.btn-group-stack-full-xs
                a.btn.btn-s.btn-primary Button 1
                a.btn.btn-s.btn-primary Button 2
                a.btn.btn-s.btn-primary 
                  i.icon.icon-left download
                  | Button 3

            .col-6.col-m-3.col-s-3
              p.subh3 Button groups vertical

              .btn-group.btn-group-stack.btn-group-stack-full-m
                a.btn Button 1
                a.btn Button 2
                a.btn Button 3

            .col-12

              p.subh3 Button bars

              .btn-bar.btn-bar-stack-xs
                .btn-group.btn-group-stack-s.btn-group-stack-full-xs
                  a.btn Button 1
                  a.btn Button 2
                .btn-group.btn-group-stack-s.btn-group-stack-full-xs
                  a.btn Button 3
                  a.btn.btn-primary Button 4
                  a.btn.btn-primary Button 5
          
          .row.row-space
            .col-12
              h3 Button dropdowns

            .col-6
              p.subh3 Dropdowns
              .btn-dropdown.btn-dropdown-full-xs
                a.btn.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup') 
                  | Button dropdown  
                  i.icon.icon-dropdown chevrondown
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}
              br
              br
              .btn-dropdown.btn-dropdown-full-xs
                a.btn.btn-primary.btn-l.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup') 
                  | Button dropdown  
                  i.icon.icon-dropdown chevrondown
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}
              br
              br
              .btn-dropdown.btn-dropdown-full-xs
                a.btn.btn-s.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup') 
                  | Button dropdown  
                  i.icon.icon-dropdown chevrondown
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}

            .col-6
              p.subh3 Split buttons

              .btn-dropdown-split.btn-dropdown-full-xs
                a.btn.btn-split-control.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup')
                  i.icon chevrondown
                a.btn.btn-split.btn-dropdown-full-xs Button split
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}

              br
              br

              .btn-dropdown-split.btn-dropdown-full-xs
                a.btn.btn-primary.btn-l.btn-split-control.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup')
                  i.icon chevrondown
                a.btn.btn-l.btn-split.btn-dropdown-full-xs Button split
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}
              br
              br

              .btn-dropdown-split.btn-dropdown-full-xs
                a.btn.btn-primary.btn-s.btn-split-control.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup')
                  i.icon chevrondown
                a.btn.btn-primary.btn-s.btn-split.btn-dropdown-full-xs Button split
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}


    //- style-guide-section

    section#sg-forms.style-guide-section

      header.style-guide-section_header
        .wrapper-main
            
          a.js-toggle(data-target='#sg-forms', data-toggle-icon=icons.arrowup)
            h2 Form components
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content
        form.grid-12col

          h3 Inputs

          .row
            
            .col-6
              p.subh3 Input L/M/S
              .form-row
                .form-controls.form-col-12
                  input.input.input-l.form-control(type='text', placeholder='Input large') 
              .form-row
                .form-controls.form-col-12
                  input.input.form-control(type='text', placeholder='Input medium') 
              .form-row
                .form-controls.form-col-12
                  input.input.input-s.form-control(type='text', placeholder='Input small') 
            .col-6
              p.subh3 Input states
              .form-row
                .form-controls.form-col-12
                  input.input.form-control(type='text', disabled, placeholder='Input disabled')
              .form-row
                .form-controls.form-col-12
                  input.input.form-control(type='text', readonly, placeholder='Input readonly', value='Input readonly')
              .form-row
                .form-controls.form-col-12
                  input.input.error.form-control(type='text', placeholder='Input error', value='Input error')

          h3 Textarea

          .row
            .col-6
              .form-row
                .form-controls.form-col-12
                  textarea.input.form-control(rows=4)

          h3 Checkbox / Radio

          .row
            .col-6
              p.subh3 Checkboxes

              .form-row
                .form-controls.form-col-12
                  .checkbox
                    input.checkbox-input(type='checkbox', id='checkbox-01', name='checkbox-01')
                    label.checkbox-custom(for='checkbox-01')
                    label.checkbox-label(for='checkbox-01') Checkbox
              .form-row
                .form-controls.form-col-12
                  .checkbox
                    input.checkbox-input(type='checkbox', id='checkbox-02', name='checkbox-02', disabled)
                    label.checkbox-custom(for='checkbox-02')
                    label.checkbox-label(for='checkbox-02') Checkbox disabled
              .form-row
                .form-controls.form-col-12
                  .checkbox
                    input.checkbox-input.error(type='checkbox', id='checkbox-03', name='checkbox-03')
                    label.checkbox-custom(for='checkbox-03')
                    label.checkbox-label(for='checkbox-03') Checkbox error


            .col-6
              p.subh3 Radios

              .form-row
                .form-controls.form-col-12
                  .radio
                    input.radio-input(type='radio', id='radio-01-01', name='radio-01')
                    label.radio-custom(for='radio-01-01')
                    label.radio-label(for='radio-01-01') Radio
              .form-row
                .form-controls.form-col-12
                  .radio
                    input.radio-input(type='radio', id='radio-01-02', name='radio-01', disabled)
                    label.radio-custom(for='radio-01-02')
                    label.radio-label(for='radio-01-02') Radio disabled
              .form-row
                .form-controls.form-col-12
                  .radio
                    input.radio-input.error(type='radio', id='radio-01-03', name='radio-01')
                    label.radio-custom(for='radio-01-03')
                    label.radio-label(for='radio-01-03') Radio error
          .row
            .col-6
              p.subh3 Checkbox group

              .form-row
                .form-controls.form-col-12
                  .checkbox-group
                    .checkbox
                      input.checkbox-input(type='checkbox', id='checkbox-04', name='checkbox-04')
                      label.checkbox-custom(for='checkbox-04')
                      label.checkbox-label(for='checkbox-04') Checkbox 1
                    .checkbox
                      input.checkbox-input(type='checkbox', id='checkbox-05', name='checkbox-05')
                      label.checkbox-custom(for='checkbox-05')
                      label.checkbox-label(for='checkbox-05') Checkbox 2
                    .checkbox
                      input.checkbox-input(type='checkbox', id='checkbox-06', name='checkbox-06')
                      label.checkbox-custom(for='checkbox-06')
                      label.checkbox-label(for='checkbox-06') Checkbox 3

            .col-6
              p.subh3 Radio group

              .form-row
                .form-controls.form-col-12
                  .radio-group
                    .radio
                      input.radio-input(type='radio', id='radio-02-01', name='radio-02')
                      label.radio-custom(for='radio-02-01')
                      label.radio-label(for='radio-02-01') Radio 1
                    .radio
                      input.radio-input(type='radio', id='radio-02-02', name='radio-02')
                      label.radio-custom(for='radio-02-02')
                      label.radio-label(for='radio-02-02') Radio 2
                    .radio
                      input.radio-input(type='radio', id='radio-02-03', name='radio-02')
                      label.radio-custom(for='radio-02-03')
                      label.radio-label(for='radio-02-03') Radio 3
 
          h3 Select
          .row
            .col-6
              p.subh3 Basic select

              .form-row
                .form-label.form-col-12
                  label Normal state
                .form-controls.form-col-12
                  select.js-select.form-control
                    each option in [1,2,3,4,5]
                      option Option #{option}

              .form-row
                .form-label.form-col-12
                  label Disabled
                .form-controls.form-col-12
                  select.js-select.form-control(disabled)
                    each option in [1,2,3,4,5]
                      option Option #{option}

              .form-row
                .form-label.form-col-12
                  label Error
                .form-controls.form-col-12
                  select.js-select.form-control.error
                    each option in [1,2,3,4,5]
                      option Option #{option}

          h3 Form layouts

          .row
            .col-6.col-s-2
              p.subh3 Vertical layout
              .form-row
                .form-label.form-col-12
                  label Form label:
                .form-controls.form-col-12
                  input.input.form-control(type='text', placeholder='Placeholder')
            .col-6.col-s-4
              p.subh3 Horizontal layout
              .form-row.row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4
                  label Form label:
                .form-controls.form-col-8
                  input.input.form-control(type='text', placeholder='Input medium')
              .form-row.row
                .form-label.form-label-l.form-label-inline.form-label-stack-xs.form-col-4
                  label Form label:
                .form-controls.form-col-8
                  input.input.input-l.form-control(type='text', placeholder='Input large')
              .form-row.row
                .form-label.form-label-s.form-label-inline.form-label-stack-xs.form-col-4
                  label Form label:
                .form-controls.form-col-8
                  input.input.input-s.form-control(type='text', placeholder='Input small')

          .row
            .col-6.col-s-2
              p.subh3 Vertical block layout
              .form-row
                .form-label.form-col-12
                  label Form label:
                .form-controls.form-controls-block.form-col-12
                  input.input.form-control(type='text', placeholder='Placeholder')
                  input.input.form-control(type='text', placeholder='Placeholder')

            .col-6.col-s-4
              p.subh3 Horizontal block layout
              .form-row.row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4
                  label Form label:
                .form-controls.form-controls-block.form-col-8
                  input.input.form-control(type='text', placeholder='Placeholder')
                  input.input.form-control(type='text', placeholder='Placeholder')
                  input.input.form-control(type='text', placeholder='Placeholder')

          .row
            .col-12
              p.subh3 Multicolumn layout
              .row
                .col-4.col-s-1
                  .form-row
                    .form-label.form-col-12
                      label Form label:
                    .form-controls.form-col-12
                      input.input.form-control(type='text', placeholder='Placeholder')
                .col-4.col-s-1
                  .form-row
                    .form-label.form-col-12
                      label Form label:
                    .form-controls.form-col-12
                      input.input.form-control(type='text', placeholder='Placeholder')
                .col-4.col-s-1
                  .form-row
                    .form-label.form-col-12
                      label Form label:
                    .form-controls.form-col-12
                      input.input.form-control(type='text', placeholder='Placeholder')

  //- style-guide-content
